p {
  background-color: greenyellow;
  display: grid;
  grid-template-areas: ;
  grid-template-areas: ;
  grid-template-areas: ;
  grid-template-areas: ;
  grid-template-areas: ;
  grid-template-areas: ;
  grid-template-areas: ;
  grid-template-areas: ;
  grid-template-areas: ;
  grid-template-areas: ;
}
